@import "tailwindcss";

/* Light and dark theme variables */
:root {
  --fresh: hsla(50, 100%, 56%, 1);
  --fresh-green: hsla(142, 71%, 29%, 1);

  --background-primary: hsla(215deg, 100%, 100%, 1);
  --background-secondary: hsla(210, 29%, 97%, 1);
  --background-tertiary: hsla(207, 33%, 95%, 1);
  --foreground-primary: hsla(0, 0%, 9%, 1);
  --foreground-secondary: hsla(0, 0%, 23%, 1);
  --foreground-tertiary: hsla(0, 0%, 32%, 1);
  --foreground-quaternary: hsla(0, 0%, 42%, 1);

  --info: hsla(194, 76%, 41%, 1);
}
html[data-theme="dark"]:root {
  --fresh: hsla(50, 100%, 56%, 1);
  --fresh-green: hsla(142, 71%, 29%, 1);

  --background-primary: hsla(220deg, 11%, 11%, 1);
  --background-secondary: hsla(216deg, 19%, 18%, 1);
  --background-tertiary: hsla(216deg, 27.7%, 22%, 1);
  --foreground-primary: hsla(215deg, 17%, 99%, 1);
  --foreground-secondary: hsla(215deg, 17%, 83%, 1);
  --foreground-tertiary: hsla(215deg, 17%, 20%, 1);
  --foreground-quaternary: hsla(215deg, 17%, 10%, 1);

  --info: hsla(194, 76%, 41%, 1);

  color: var(--foreground-primary);
  background-color: var(--background-primary);
}

/* Scrollbar colors that look good on light and dark theme */
* {
  scrollbar-color: hsla(0deg, 0%, 50%, 0.5) hsla(0deg, 0%, 50%, 0.1) !important;
}

@font-face {
  font-family: Fixel;
  font-style: normal;
  src: url("/fonts/FixelVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: Fixel;
  font-style: italic;
  src: url("/fonts/FixelVariableItalic.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

body {
  font-family:
    Fixel, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 450;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 6rem;
}

b,
strong,
.font-bold,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 750;
}

hr {
  /* @apply border-foreground-secondary/10; */
  border-color: hsla(var(--foreground-secondary), 0.1);
}

.dark-mode-toggle-button img {
  /* @apply fill-foreground-primary; */
  fill: var(--foreground-primary);
}

::selection {
  background-color: #b1d5ff;
}

html[data-theme="dark"] ::selection {
  background-color: #064c9c;
}
