@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Fixel;
  font-style: normal;
  src: url("/fonts/FixelVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: Fixel;
  font-style: italic;
  src: url("/fonts/FixelVariableItalic.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

body {
  font-family: Fixel, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 450;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #333;
}

b,
strong,
.font-bold,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 750;
}

/* Testing */
