@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light and dark theme variables */
.light {
  --fresh: 50deg, 100%, 56%;
  --fresh-green: 142deg, 71%, 29%;

  --background-primary: 215deg, 100%, 100%;
  --background-secondary: 210deg, 29%, 97%;
  --background-tertiary: 207deg, 33%, 95%;
  --foreground-primary: 0deg, 0%, 9%;
  --foreground-secondary: 0deg, 0%, 23%;
  --foreground-tertiary: 0deg, 0%, 32%;
  --foreground-quaternary: 0deg, 0%, 42%;

  --info: 194deg, 76%, 41%;
}
.dark {
  --fresh: 50deg, 100%, 56%;
  --fresh-green: 142deg, 71%, 29%;

  --background-primary: 216deg, 27.8%, 7.1%;
  --background-secondary: 216deg, 27.7%, 12%;
  --background-tertiary: 216deg, 27.7%, 22%;
  --foreground-primary: 215deg, 17%, 99%;
  --foreground-secondary: 215deg, 17%, 71%;
  --foreground-tertiary: 215deg, 17%, 20%;
  --foreground-quaternary: 215deg, 17%, 10%;

  --info: 194deg, 76%, 41%;

  color: var(--foreground-primary);
  background-color: var(--background-primary);
}

/* Scrollbar colors that look good on light and dark theme */
* {
  scrollbar-color: hsla(0deg, 0%, 50%, 0.5) hsla(0deg, 0%, 50%, 0.1) !important;
}

@font-face {
  font-family: Fixel;
  font-style: normal;
  src: url("/fonts/FixelVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: Fixel;
  font-style: italic;
  src: url("/fonts/FixelVariableItalic.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

body {
  font-family:
    Fixel,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 450;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 6rem;
}

b,
strong,
.font-bold,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 750;
}

hr {
  @apply border-foreground-secondary/10;
}

.dark-mode-toggle-button img {
  @apply fill-foreground-primary;
}
